body {
    min-height: 110vh;
    padding: 0;
    margin: 0;
    
}

div.page {

    height: 110vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 'header header'
                         'mainContent mainContent'
                         'footer footer';
}

div.header {
    background-color: lightblue;
    grid-area: header;
    min-height: 50px;
    float: left;
    padding-bottom: 15px;
}

div.header h1 {
    float: left;
    
}

div.header h3 {
    float: left;
    padding-left: 150px;
}

div.header div {
    /* padding-right: 250px; */
    padding-top: 12px;
}

/* div.menu {
    background-color: green;
    grid-area: menu;
    padding-left: 20px;
} */

/* <div class="menu"> Skrives i view hvis menu skal brukes. + grid-template-areas og columns: 15% 85%
</div> */

div.mainContent {
    background-color: yellow;
    grid-area: mainContent;
}

div.footer {
    background-color: grey;
    grid-area: footer;
    padding-right: 20px;
    padding-top: 20px;
    justify-content: space-between;
    display: flex;
    text-align: center;
}

div.footer div {
    text-align: right;
}

.footerImg {
    text-align: right;
    justify-content: right;
    width: 50px;
    height: 50px;
    padding-bottom: 20px;
    margin-right: 30px;
}


.topLeftLogo {
    width: 50px;
    height: 50px;
    padding-left: 20px;
    padding-top: 16px;
    margin-right: 10px;
    float: left;
}

.floatLeft {
    float: left;
}

.discord {
    height: 50px; 
    width: 50px; 
    float: right;
    padding-right: 50px;
    padding-top: 5px;
}

.userLoginText {
    float: right;
    padding-right: 100px;
    margin-top: 12px;
}